.card-examples
  .q-card
    width 300px
  .bigger
    width 450px
  @media (max-width $breakpoint-xs-max)
    .q-card
      width 100%


.view-mode-grid
  height 200
  width 50%

.card-wrap
  div
    width 100%
    overflow hidden
    text-overflow ellipsis
